version: '3.5'

services:
  nginx:
    image: nginx
    volumes:
      - ../snowface-extra/nginx/nginx.conf:/tmp/nginx.conf # path to local nginx conf.
      - ../snowface-extra/certs/server_crt_file.crt:/certs/server_crt_file.crt # path to local crt.
      - ../snowface-extra/certs/server_crt_file.key:/certs/server_crt_file.key # path to local key.
    environment:
      - SERVER_A_ADDR=localhost:5001 # change to real server A ip.
      - SERVER_B_ADDR=localhost:5000 # change to real server B ip.
    command: /bin/bash -c "envsubst < /tmp/nginx.conf > /etc/nginx/conf.d/default.conf && nginx -g 'daemon off;'"
    network_mode: "host"

  snowface-liveness:
    image: snowface-liveness
    build:
      context: ${SNOWFACE_PATH:-.}
      dockerfile: Dockerfile
      #dockerfile: Dockerfile.gpu
    container_name: snowface-liveness
    environment:
      SNOWFACE_PORT: 5001 # temporary hack to run both containers on same machine, not needed for staging / prod
      # auth
      JWT_SECRET: bogus # required, must be the same value as on other backend apps
      GOOGLE_APPLICATION_CREDENTIALS: "{}" # to work with firebase tokens, must be the same value as on other backend apps
      GCP_FIREBASE_AUTH_API_KEY: bogus # to work with firebase tokens, must be the same value as on other backend apps
      # Milvus connection setup
      # to enable TLS change here to https and cnange security.tlsMode to 1 into milvus.yaml
      MILVUS_URI: http://localhost:19530 #required, change to IP at the server B.
      MILVUS_USER: root #default = root
      # to change run milvus and change it from client https://github.com/milvus-io/milvus/discussions/22736
      # like docker run python:3.8 bash -c "pip3 install pymilvus; python3 -c \"from pymilvus import utility; from pymilvus import connections; connections.connect(host='http://localhost',port='19530',user='root',password='Milvus');utility.reset_password('root', 'Milvus', 'new_password')\""
      MILVUS_PASSWORD: Milvus # default = Milvus
      WORKERS: 4 # workers count in gunicorn (=support of concurrent requests at the same time) = vcpu/4, or (videomem/2300 - 2)
      LIMIT_RATE: 60 # seconds, staging value
      LIMIT_RATE_NEGATIVE: 1 # second, staging value
      BASE_SIMILARITY_ENDPOINT: http://127.0.0.1:5000/v1w/face-auth/similarity/ # change to server B endpoint address with /v1w/face-auth/similarity/ suffix.
      TOTAL_BEST_PICTURES: 7
      MAX_EMOTION_COUNT: 10
      MAX_CONTENT_LENGTH: 1000000 # 1 Mb
      IMG_STORAGE_PATH: /images # Change to the path where images will be stored.
    network_mode: "host"

#    deploy:
#      resources:
#        reservations:
#          devices:
#            - driver: nvidia
#              count: 1
#              capabilities: [ gpu ]
